<!DOCTYPE html>
<html ng-app="myApp" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tabel Siswa</title>
    <script src="../Path/angular-1.7.5.min.js"></script>
    <script src="../Framework/jquery.min.js"></script>
    <link rel="stylesheet" href="../Framework/bootstrap.min.css">
    <link rel="stylesheet" href="../Framework/all.min.css">
</head>

<body>
    <nav class='navbar navbar-expand-sm bg-dark navbar-dark fixed-top'>
        <div class='container'>
            <ul class='navbar-nav'>
                <li class='nav-item'>
                    <a class='nav-link' href='#'>Tabel Siswa</a>
                </li>
            </ul>
        </div>
    </nav>
    <div ng-controller="Siswa" class="container" style="margin-top: 100px;">
        <div class='input-group mb-3'>
            <div class='input-group-prepend'>
                <span id="icon" class='input-group-text'><i class='fas fa-search'></i></span>
            </div>
            <input id="search" type='text' class='form-control' ng-model="cari" placeholder="Search">
        </div>
        <p>You search in table : {{cari}}</p>
        <table class="table">
            <thead class="thead-dark" id="thead">
                <tr>
                    <th>Name</th>
                    <th>Class</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="s in (results = (Siswa | filter:cari | orderBy: 'name': false))" id="isi">
                    <td>{{s.name}}</td>
                    <td>{{s.class}}</td>
                    <td>{{s.score}}</td>
                </tr>
                <tr ng-if="results.length == 0">
                    <td colspan="3" align="center">Tidak ada data yang berkaitan dengan "{{cari}}"</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="script.js"></script>
    <script src="../Framework/bootstrap.min.js"></script>
    <script src="../Framework/popper.min.js"></script>
    <script src="../Framework/all.min.js"></script>
</body>

</html>